# Ignoruj wirtualne środowisko
venv/
.venv/
env/
.env

# Ignoruj dane (zakładając, że trzymasz je w folderze data)
data/
*.csv
*.xlsx
*.json
*.pkl
*.joblib

# Ignoruj cache Pythona
__pycache__/
*.pyc

# Ignoruj pliki systemowe i VS Code
.vscode/
.DS_Store
.ipynb_checkpoints

# Inne
data/
ROADMAP_DEV.md
fix_names.py
add_colab_badge.py